* {
  font-family: 'Raleway', sans-serif;
  margin: 0px;
  padding: 0px;
}

.grayfilter {
  filter: grayscale(50%);
}

.grayfilter75 {
  filter: grayscale(75%);
}


.hideiflg {
  display: none !important;
}

@media only screen and (max-width: 768px) {
  .hideifsm {
    display: none;
  }

  .hideiflg {
    display: block !important;
  }

  /* //  */
  .bhead {
    font-size: 40px !important;
  }
  .bcontainer{
    padding: 40px 10px !important;
  }
  .blink {
    font-size: 12px;
  padding: 8px 15px !important;
}

  .agrid {
    /*display: grid;*/
    grid-template-columns: 1fr !important;

  }

  .acard>.aicon {
    font-size: 64px;
  }

  .acard {
    margin-top: 30px;
  }

  #about2 {
    flex-direction: column;
  }

  #team {
    padding: 120px 50px !important;
  }

  .offcanvas {
    width: 70% !important;
  }
}

@media (max-width: 1000px) {
  #pricing {
    padding: 100px 60px;
  }

  .hideifmd {
    display: none;
  }
}

/* ----------navbar--------------- */

.navlist {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 0px;
}

.logos {
  text-decoration: none;
  color: #000000;
  letter-spacing: 5px;
}

.navitem {
  padding: 16px;
}

.navitem:hover {
  background: #cccccc;
}

.navlink {
  text-decoration: none;
  color: #000000;
}

.navbar7 {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 1;
  font-size: 15px;
}

.sm-navlist {
  display: block;
  padding: 20px 10px;
  width: 100%;
  text-decoration: none;
  color: #fff;
}

.sm-navlist:hover {
  background-color: #cccccc;
  color: #000;
}

/* --....banner.....- */

#banner {
  background-image: url("images/mac.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  filter: grayscale(50%);
  display: flex;
  align-items: center;
}

.bcontainer {
  padding: 48px;
  color: #fff;
}

.bhead {
  font-size: 64px;
}

.blink:hover {
  opacity: 0.8 !important;
}

.blink {
  padding: 15px 24px;
}

.social {
  position: absolute;
  bottom: 0px;
  padding: 24px 48px;
  color: #757575;
}

.social > i:hover{
  opacity: 0.7;
}
/* ------about--------- */
#about {
  padding: 120px 16px;
}

.agrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0px 40px;
}

.acard>.aicon {
  font-size: 64px;
}


/* -------fdf-------- */
#about2 {
  padding: 120px 40px;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  background: #f1f0f0;
}

/* --------------- */

#team {
  padding: 120px 40px;
}

.contact {
  width: 100%;
  background-color: #f1f0f0 !important;
}

.contact:hover {
  background-color: #a8a7a792 !important;
}

#barr {
  color: #fff !important;
  background-color: #616161 !important;
}

/* --------work----------- */

#work {
  padding: 100px 20px;
}

/* ----skill----- */

#skill {
  background-color: #f1f0f0;
  padding: 100px 40px !important;
  width: 100%;
}

/* --------pricing-------------- */

#pricing {
  padding: 100px 60px 80px 60px;
  background-color: #616161;
}

.pcard-link {
  background-color: #000;
  color: #fff;
  text-decoration: none;
  padding: 12px 24px;
}

.pcard-link:hover {
  background-color: #979797;
  color: #000;
}

.cfoot {
  background-color: #f1f1f1;
  padding: 40px 0px;
}
.pimg:hover{
  opacity: 0.6;
}
/* ------------contact */

#contact {
  padding: 100px 20px;
  background-color: #f1f1f1;
}

/* ------footer------ */
footer {
  padding: 64px 0px;
}

.iconhover:hover {
  color: #cccccc98;
}