* {
  font-family: 'Raleway', sans-serif;
  margin: 0px;
  padding: 0px;
}

.grayfilter {
  filter: grayscale(50%);
}

/* ------------------------- */

.navlist {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 0px;
  /*padding: 0px; */
}

.logos {
  text-decoration: none;
  color: #000000;
  letter-spacing: 5px;
}

.navitem {
  padding: 16px;
}

.navitem:hover {
  background: #cccccc;
  padding: 16px;
}

.navlink {
  text-decoration: none;
  color: #000000;

  /* margin-right: 20px; */
}



.navbar7 {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  /* height: 54px; */
  z-index: 1;
  font-size: 15px;
}

/* --- */
#banner {
  background-image: url("images/mac.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  filter: grayscale(50%);
  display: flex;
  align-items: center;
}

.bcontainer {
  padding: 48px;
  color: #fff;
  margin-top: 50px;
  /* padding: 20px;  */
}

.bhead {
  font-size: 64px;
}

.blink {
  text-decoration: none;
  margin-top: 12px;
  padding: 12px 24px;
  color: #000000;
}

.social {
  position: absolute;
  bottom: 0px;
  padding: 24px 48px;
  color: #757575;
}

/* ------about--------- */
.about-container {
  padding: 128px 16px;
}

.agrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0px 40px;
}

.acard>.aicon {
  font-size: 64px;
}

.ahead {
  margin: 18px 0;
}

/* -------fdf-------- */
#about2{
  padding: 50px;
  display: grid;
  grid-template-columns: 3fr;
}
/* --------------- */

.hideiflg {
  display: none;
}

@media only screen and (max-width: 700px) {
  .hideifsm {
    display: none;
  }

  .hideiflg {
    display: flex;
  }

  /* //  */
  .agrid {
    display: grid;
    grid-template-columns: 1fr;
  
  }

  .acard>.aicon {
    font-size: 64px;
  }
  .acard{
    margin-top: 30px;
  }

  #about2{
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .bbbb {
    display: none;
  }
}